<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/main_en.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="header_text">
    <h1>ENCS3320-Webserver</h1>
    <h2>Welcome to ENCS3320 - Computer Networks Webserver</h2>
</header>
<body class="body">
    <div class="part1">
        <div class="teamInFo">
            <p>Team Member</p>
            <div class="teme_member">
                <div class="card">
                    <img src="img/Alaa1220808.png" alt="" class="theimage"  method="post" action="/alaa.png">
                    <h3>Alaa Faraj 1220808</h3>
                    <h>Skills:coding(C,Java,Python) and frontend development</h>
                    <h>hobby: playing video games</h>
                </div>
                <div class="card">
                    <img src="img/Adnan1220175.png" alt="" class="theimage">
                    <h3>Adnan Odah 1220175</h3>
                    <h>Skills: coding(C,Java,Python) and frontend development</h>
                    <h>hobby: Gym</h>
                </div>
                <div class="card">
                    <img src="img/Aboud1220216 .png" alt="" class="theimage">
                    <h3>abood Fialah 1220216</h3>
                    <h>Skills: coding(C,Java,Python) and frontend development</h>
                    <h>hobby: swimming</h>
                </div>
            </div>
        </div>
    </div>
    <div class="part2">
        <div class="topic_card_1">
            <h5 class="topic">Network security</h5>
        </div>
        <div class="info-card">
            <div class="topic_card">
                <h6>introduction</h6>
                <p class="introduction">The internet was originally built with little regard for security, based on a trust model of friendly users on an open network. 
                    When threats became apparent, protocol designers were compelled to adapt and add security measures at every layer. 
                    Today, it is crucial to focus on understanding how attackers can exploit networks, how to defend against attacks, and how to design network 
                    architectures that are secure and resilient by nature </p>
            </div>
            
            <div class="topic_card">
                <h6>Bad guys: Malware</h6>
                <p>Malware can infect a host in different ways:</p>
                <ul class="Bad-guys-type">
                    <li><b>Virus:</b> A self-replicating infection caused by receiving or executing an object (like an email attachment).</li>
                    <li><b>Worm:</b> A self-replicating infection caused by passively receiving an object that executes itself.</li>
                    <li><b>Spyware malware:</b> Records keystrokes, visited websites, and uploads information to a collection site.</li>
                    <li><b>Botnet:</b> Infected hosts are enrolled and used for spam or distributed denial of service (DDoS) attacks.</li>
                </ul>
            </div>  
            
            <div class="topic_card">
                <h6>Denial of Service (DoS)</h6>
                <p>A DoS attack happens when attackers flood a resource (like a server or bandwidth) with bogus traffic, making it unavailable for legitimate users.</p>
                <ul class="Bad-guys-type">
                    <li><b>Select Target:</b> The attacker picks a server or service to attack.</li>
                    <li><b>Break into Hosts:</b>They compromise multiple machines across the network (creating a botnet).</li>
                    <li><b>Send Packets:</b> These compromised hosts then send massive amounts of traffic to the target, overwhelming it.</li>
                </ul>
            </div>
        </div>
        <img src="./img/Screenshot 2025-04-27 155903.png" alt="" class="topic_img">
    </div>
</body>
<footer class="footer" >
    <div class="externalLinks">
        <a href="https://gaia.cs.umass.edu/kurose_ross/index.php" target="_blank">
          <button class="btn liquid">Textbook</button>
        </a>
        <a href="https://www.birzeit.edu" target="_blank">
          <button class="btn liquid">Birzeit</button>
        </a>
        <form method="get" action="/mySite_1220175_en.html">
            <button class="btn liquid">supporting</button>
        </form>
        <form method="get" action="/main_ar.html">
            <button class="btn liquid">Arabic version</button>
        </form>

      </div>
</footer>
</html>