<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/main_ar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: #ff0000;">موقع الويب</title>
</head>
<header class="header_text">
    <h1>ENCS3320-خادم الويب</h1>
    <h2>مرحباً بكم في ENCS3320 - خادم شبكات الكمبيوتر</h2>
</header>
<body class="body">
    <div class="part1">
        <div class="teamInFo">
            <p>أعضاء الفريق</p>
            <div class="teme_member">
                <div class="card">
                    <img src="./img/Alaa1220808.png" alt="" class="theimage">
                    <h3>علاء فرج</h3>
                    <h4>a</h4>
                </div>
                <div class="card">
                    <img src="./img/Adnan1220175.png" alt="" class="theimage">
                    <h3>عدنان عودة</h3>
                    <h4>a</h4>
                </div>
                <div class="card">
                    <img src="./img/Aboud1220216 .png" alt="" class="theimage">
                    <h3>عبود فيالة</h3>
                    <h4>a</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="part2">
        <div class="topic_card_1">
            <h5 class="topic">أمان الشبكات</h5>
        </div>
        <div class="info-card">
            <div class="topic_card">
                <h6>مقدمة</h6>
                <p class="introduction">تم بناء الإنترنت في البداية دون مراعاة كبيرة للأمان، بناءً على نموذج الثقة بين المستخدمين في شبكة مفتوحة. 
                    عندما ظهرت التهديدات، كان لابد من تعديل بروتوكولات التصميم وإضافة تدابير الأمان في كل طبقة. 
                    اليوم، من الضروري أن نفهم كيف يمكن للمهاجمين استغلال الشبكات، وكيفية الدفاع ضد الهجمات، وكيفية تصميم الشبكات التي تكون آمنة وقوية بطبيعتها.</p>
            </div>
            
            <div class="topic_card">
                <h6>الأشرار: البرمجيات الخبيثة</h6>
                <p>يمكن للبرمجيات الخبيثة إصابة جهاز الكمبيوتر بطرق مختلفة:</p>
                <ul class="Bad-guys-type">
                    <li><b>فيروس:</b> عدوى تتكاثر ذاتيًا عند تلقي أو تنفيذ كائن (مثل مرفق بريد إلكتروني).</li>
                    <li><b>دودة:</b> عدوى تتكاثر ذاتيًا عند تلقي كائن يقوم بتنفيذ نفسه.</li>
                    <li><b>برمجيات تجسس:</b> تسجل ضربات المفاتيح، والمواقع التي تم زيارتها، وتقوم بتحميل المعلومات إلى موقع جمع البيانات.</li>
                    <li><b>بوتنت:</b> يتم تجنيد الأجهزة المصابة واستخدامها لإرسال رسائل غير مرغوب فيها أو تنفيذ هجمات الحرمان من الخدمة (DDoS).</li>
                </ul>
            </div>  
            
            <div class="topic_card">
                <h6>هجوم الحرمان من الخدمة (DoS)</h6>
                <p>يحدث هجوم DoS عندما يغمى المهاجمون موردًا (مثل خادم أو عرض نطاق ترددي) بحركة مرور وهمية، مما يجعلها غير متاحة للمستخدمين الشرعيين.</p>
                <ul class="Bad-guys-type">
                    <li><b>اختيار الهدف:</b> يختار المهاجم خادمًا أو خدمة للهجوم.</li>
                    <li><b>الاختراق إلى الأجهزة:</b> يقومون باختراق العديد من الآلات عبر الشبكة (مكونين بوتنت).</li>
                    <li><b>إرسال الحزم:</b> تقوم الأجهزة المصابة بإرسال كميات هائلة من الحركة إلى الهدف، مما يؤدي إلى إرباكه.</li>
                </ul>
            </div>
        </div>
        
        
        <img src="./img/Screenshot 2025-04-27 155903.png" alt="" class="topic_img">
    </div>
</body>
<footer class="footer" >
    <div class="externalLinks">
        <a href="https://gaia.cs.umass.edu/kurose_ross/index.php" target="_blank">
          <button class="btn liquid">الكتاب الدراسي</button>
        </a>
        <a href="https://www.birzeit.edu" target="_blank">
          <button class="btn liquid">بيرزيت</button>
        </a>
        <form method="get" action="/mySite_1220175_ar.html">
            <button class="btn liquid">الدعم</button>
        </form>
        <form method="get" action="/main_en.html">
            <button class="btn liquid">النسخة الانجليزية</button>
        </form>

      </div>
</footer>
</html>
