<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./supporting.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="./main_en.html" target="_blank">
                <button class="btn liquid">Home</button>
            </a>
        </div>
    </header>
    
    <form action="http://localhost:9926" method="POST">
        <div class="div_input">
            <label for="type">File type</label>
            <select name="type" id="type" class="form-control" required>
                <option value="" selected>Choose a type</option>
                <option value="image">image</option>
                <option value="video">video</option>
            </select>
        </div>
    
        <div class="div_input">
            <label for="filename">File name</label>
            <input type="text" name="filename" id="filename" required>
        </div>
    
        <div class="div_input">
            <button type="submit" class="btn liquid">Request</button>
        </div>
    </form>

    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
