<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/supporting.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="header">
    <div>
        <a href="./main_en.html" target="_blank">
          <button class="btn liquid">Home</button>
        </a>
      </div>
</header>
<body>
    <div class="contaner">
        <div class="div_input">
            <label for="">File type</label>
            <select name="" id="" class="form-control">
                <option value="" disabled selected>type</option>
                <option value="male">image</option>
                <option value="femal">video</option>
            </select>
            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
        </div>
        <div class="div_input">
            <label for="">File name</label>
            <input type="text">
        </div>
        <div class="div_input">
            <button class="btn liquid">Request</button> 
         </div>
    </div>
</body>
<footer>

</footer>
</html>
